<h2>Edit Quote</h2>

<%= form_for @quote,:url=>"/quotes/#{@quote.id}" do |f| %>
  <% if @quote.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@quote.errors.count, "error") %> prohibited this post from being saved:</h3>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style='margin-top:10px'>
	<%= f.label :quote %>
  	<%= f.text_area :quote %>
	<%= f.label :citation %>
  	<%= f.text_field :citation %>
	<%= f.label :book %>
  	<%= f.text_field :book %><br/>
  	<%= f.label :topic %>
  	<%= f.select('topic_id',@topics.collect{|t| [t.name,t.id]},{:prompt=>"Select topic"}) %><br/>
	<%= f.label :translation %>
  	<%= f.text_field :translation %>
	<%= f.label :abbreviation %>
  	<%= f.text_field :abbreviation %>
	<%= f.select("tags",@tags.collect{|t|[t.name,t.id]},{:prompt=>"Select topic"},{:multiple=>true}) %><br/>
  	<%= f.text_field :tags%><br/>
	<%= f.label :active,{:style=>'display:inline'} %>
	<%= f.check_box :active %>
  </div>

  <div><%= f.submit "Save",{:class=>'btn',:style=>'margin-top:10px'} %></div>
<% end %>