<h2>Edit Quote</h2>

<%= form_for @quote,:url=>"/quotes/#{@quote.id}" do |f| %>
  <% if @quote.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@quote.errors.count, "error") %> prohibited this post from being saved:</h3>
      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style='margin-top:10px'>
	<%= f.label :quote %>
  	<%= f.text_area :quote %>
	<%= f.label :citation %>
  	<%= f.text_field :citation %>
	<%= f.label :book %>
  	<%= f.text_field :book %><br/>
	<%= f.label :author %>
  	<%= f.text_field :author %><br/>
  	<%= f.label :topic, :style=>"display:inline" %><span>( hold cmd so you do not loose previously selected topics)</span><br/>
	<%= f.select 'topics', options_for_select(@topics.collect{|t| [t.name,t.id]}, @quote.topics.map {|t| t.id}),{},{:multiple=>true,:prompt => 'Select topic'}%><br/>
	<%= f.label :translation %>
  	<%= f.text_field :translation %>
	<%= f.label :abbreviation %>
  	<%= f.text_field :abbreviation %>
	<%= f.label :rating %>
  	<%= f.text_field :rating %><br/>
	<%= f.label :tags, :style=>"display:inline" %><span>( hold cmd so you do not loose previously selected tags)</span><br/>
	<%=f.select 'tags', options_for_select(@tags.collect{|t| [t.name,t.id]}, @quote.tags.map {|t| t.id}),{},{:multiple=>true,:prompt => 'Select topic'}%><br/>
	<%= f.label :active,{:style=>'display:inline'} %>
	<% if @quote.active %>
		<%= f.check_box :active, :disabled => true %>
	<% end %>
  </div>

  <div><%= f.submit "Save",{:class=>'btn',:style=>'margin-top:10px'} %></div>
<% end %>