<div class='well' style='margin-top:20px'><h2>GroupNotifications</h2></div>
<h3>Goverse 1.0</h3>
<table class='table table-striped table-bordered'>
	<tr>
		<th style='text-align:center'>ID</th>
		<th style='text-align:center'>Alert</th>
		<th style='text-align:center'>Badge</th>
		<th style='text-align:center'>Custom URL</th>
		<th style='text-align:center'>Create At</th>
		<th style='text-align:center'>Action</th>
	</tr>
	<% @notifications.each do |gn| %>
		<tr>
			<td><%=gn.id%></td>
			<td><%=gn.alert%></td>
			<td><%=gn.badge%></td>
			<td><%=gn.custom_properties%></td>
			<td><%=gn.created_at.strftime("%m/%d/%Y")%></td>
			<td>
				<div class='label label-important' style='display:inline'><%= link_to("Delete", "/push/delete/#{gn.id}", :method => :delete, :style => 'color:white;text-decoration:none') %></div>
			</td>
		</tr>
	<%end%>
</table>
<h3>Goverse 2.0 Push Hero</h3>
<table class='table table-striped table-bordered'>
	<tr>
		<th style='text-align:center'>id</th>
		<th style='text-align:center'>platform</th>
		<th style='text-align:center'>Alert</th>
		<th style='text-align:center'>Badge</th>
		<th style='text-align:center'>Custom URL</th>
		<th style='text-align:center'>Create At</th>
		<th style='text-align:center'>Action</th>
	</tr>
	<% @remote_notifications.each do |gn| %>
		<tr>
			<td><%=gn['id']%></td>
			<td><%=gn['name']%></td>
			<td><%=gn['alert']%></td>
			<td><%=gn['badge']%></td>
			<td><%=gn['custom_properties']%></td>
			<td><%=Date.parse(gn['created_at']).strftime("%m/%d/%Y")%></td>
			<td>
				<div class='label label-important' style='display:inline'><%= link_to("Delete",  "/push/delete_remote/#{gn['id']}/#{gn['name']}", :method => :delete, :style => 'color:white;text-decoration:none') %></div>
			</td>
		</tr>
	<%end%>
</table>