<div class='well' style='margin-top:20px'><h2>Push Notifications - Push Hero</h2></div>
<table class='table table-striped table-bordered'>
	<tr>
		<th style='text-align:center'>id</th>
		<th style='text-align:center'>platform</th>
		<th style='text-align:center'>Alert</th>
		<th style='text-align:center'>Badge</th>
		<th style='text-align:center'>Custom URL</th>
		<th style='text-align:center'>Priority</th>
		<th style='text-align:center'>Create At</th>
		<th style='text-align:center'>Action</th>
	</tr>
	<% @remote_notifications.each do |gn| %>
		<tr>
			<%name = gn['custom_properties'] ? "APN_PROD" : "C2DM"%>
			<td><%=gn['id']%></td>
			<td><%=name%></td>
			<td><%=gn['custom_properties'] ? gn['alert'] : gn['data']%></td>
			<td><%=gn['badge']%></td>
			<td><%=gn['custom_properties']%></td>
			<td>
				<input type='text' style='width:20px' id='priority_<%=gn["id"]%>' value='<%=gn["priority"]%>' />
				<input type='hidden' id='klss_<%=gn["id"]%>' value='<%=name%>' />
				<a id='<%=gn["id"]%>' class='btn btn-primary priority_edit' style='display:inline'>save</a>
			</td>
			<td><%=Date.parse(gn['created_at']).strftime("%m/%d/%Y")%></td>
			<td>
				<div class='label label-important' style='display:inline'><%= link_to("Delete",  "/push/delete_remote/#{gn['id']}/#{name}", :method => :delete, :style => 'color:white;text-decoration:none') %></div>
			</td>
		</tr>
	<%end%>
</table>